@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my blog</h1>
    <p>You can add, edit and delete articles. It's a simple blog for learning Razor pages with Entity.Framework</p>
    <img src="images/RazorLogo.jpg" alt="Razor" />
    <img src="images/EntityFrameworkLogo.png" alt="EntityFramework" />
</div>
